.header {
    width: 100%;
    margin-bottom: 5px;
}

.welcome {
    font-size: 14px;
    color: #666;
    margin-bottom: 4px;
}

.login {
    font-size: 34px;
    font-weight: 700;
    color: #111111;
    margin-bottom: 5px;
}

.error {
    color: red;
}
